<h1>Seja Bem-Vindo!</h1>
<p><strong>Data:</strong><%= date_br(Date.today) %></p>
<p><%= name_application %></p>
<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>

<p>
  Meu nome é <strong><%= @meu_nome %></strong></p>
  Meu curso é <strong><%= @curso %></strong></p>
</p>
