<h1>Seja Bem-Vindo!</h1>
<p><strong>Data:</strong><%= date_br(Date.today) %></p>
<p><%= name_application %></p>
<%= render "menu" %>

<p>
  Meu nome é <strong><%= @meu_nome %></strong></p>
  Meu curso é <strong><%= @curso %></strong></p>
</p>
